{% extends 'base.html' %}
{% load static %}
{% block content %}

      <div class="content">
        <h2 class="content__title title">Отправка сообщений</h2>
      <form class="content__form" method="post" name="session_choice">
          {% csrf_token %}
          <label class="content__label label">Сменить аккаунт</label>
          <select name="number" class="content__input input">
              {% for number in numbers %}
                  <option value="{{number}}">{{number}}</option>
              {% endfor %}
          </select>
      <button type="submit" class="content__btn btn">Выбрать</button>
      </form>
      {% if is_tg_authorized %}
        <form class="content__form" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="content__line line">
    <label class="content__label label" for="id_title">Заголовок:</label>
    <input class="content__input input" type="text" name="title" maxlength="100" id="id_title">
        </div>
        <div class="content__line line">
    <label class="content__label" for="id_text">Текст сообщения:</label>
    <textarea name="text" cols="40" class="content__textarea textarea" rows="10" maxlength="2000" id="id_text"></textarea>
        </div>
    <label class="content__label label" for="id_images">Изображения:</label>
    <input type="file" name="images" accept="image/*" id="id_images" multiple>
        <br>
    <label class="content__label label" for="id_files">Файлы:</label>
    <input type="file" name="files" id="id_files" multiple>
        <br>
    <label class="content__label label" for="id_is_instant">Моментальное отправление:</label>
    <input class="content__label label" checked type="checkbox" name="is_instant" id="id_is_instant">
        <div class="content__line line" id="mailing__date__format">
            <label for="mailing__date__select">Формат даты:</label>
            <select class="input" name="date_format" id="mailing__date__select">
                <option value="periodical">Периодически</option>
                <option value="particular">Определенное время</option>
            </select>
        </div>
            <div id="periodical__dates" class="content__line line">
                <label for="id_begin" class="content__label label">Время начала:</label>
                <input name="begin_time" id="id_begin" type="datetime-local" class="content__input input">
                <br>
                <label for="id_end" class="content__label label">Время конца: </label>
                <input name="end_time" id="id_end" type="datetime-local" class="content__input input">
                <br>
                <label for="id_interval" class="content__label label">Повторять каждые:</label>
                <input name="intervals_number" id="id_interval" type="number" class="content__input input">
                <select name="interval" class="input">
                    <option value="weeks">недель</option>
                    <option value="days">дней</option>
                    <option value="hours">часов</option>
                    <option value="minutes">минут</option>
                </select>
            </div>
            <div class="content__line line" id="particular__dates">
               <label class="label" for="datePick">Дни отправки:</label>
                <input name="dates" class="input" id="datePick" type="text">
                <label for="id_time" class="content__label label">Время</label>
                   <input name="time" type="time" class="input" id="id_time">
        <script>
            $(document).ready(function () {
                $('#datePick').multiDatesPicker();
            });
        </script>
            </div>

        <div class="content__line line">
            <div class="dropdown-box">
               <label class="content__label label" style="font-size: 1.35rem">Список групп:</label>
                <input class="content__input input" id="dropdownInput2" type="text" placeholder="Поиск...">
                <div class="content__line line dropdown" id="dropdownBlock2">
                {% for value, name in channels %}
                <div data-channel="{{ name }}">
                    <label class="content__label" for="gr_{{ value }}">{{ name }}</label>
                    <input id="gr_{{ value }}" type="checkbox" name="group_{{ value }}">
                </div>
                {% endfor %}
                </div>
          </div>
        </div>
        <div class="content__line line">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
        </form>
      {% else %}
      <div class="content__line line">
          <a class="content__link link" href="/tg">Авторизуйтесь заново</a>
      </div>
      {% endif %}
      </div>
{% endblock %}