<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Архивированные сообщения</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="css/style.min.css?_v=20221226164248">
  <!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo" href="">
          <img src="img/logo.png" alt="concept">
        </a>
        <a class="header__right" href="../index.html">
          <div class="header__name">Гарайшин Ильназ</div>
          <div class="header__icon">
            <img src="img/profile-logo.jpg" alt="Гарайшин Ильназ">
          </div>
        </a>
        <div class="header__menu menu">
          <button class="menu__icon icon-menu" type="button" aria-label="Открыть меню">
            <span></span>
          </button>
          <nav class="menu__body">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="../index.html">Профиль</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="search-messages.html">Поиск сообщений</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="send-messages.html">Отправка сообщений</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="message-queue.html">Сообщения в очереди</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="message-archive.html">Архивированные
                  сообщения</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="">Выйти</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="page">
      <aside class="left-menu" data-spollers="991.98,max">
        <div class="left-menu__label" type="button" data-spoller>Меню</div>
        <ul class="left-menu__list">
          <li class="left-menu__item">
            <a class="left-menu__link" href="search-messages.html">Поиск сообщений</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="send-messages.html">Отправка сообщений</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="message-queue.html">Сообщения в очереди</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="message-archive.html">Архивированные сообщения</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="">Выйти</a>
          </li>
        </ul>
      </aside>
      <div class="content">
        <h2 class="content__title title">Архивированные сообщения</h2>
        <!-- <h3 class="content__subtitle">Находите сообщения в социальной сети Telegram по параметрам</h3> -->
        <!-- <div class="content__descr">Поиск сообщений</div> -->
        <div class="content__list">
          <div class="content__item item-content">
            <div class="item-content__left">
              <div class="item-content__img-top">
                <img src="img/1.jpg" alt="">
              </div>
              <div class="item-content__row">
                <img class="item-content__img" src="img/2.jpg" alt="">
                <img class="item-content__img" src="img/3.jpg" alt="">
                <img class="item-content__img" src="img/4.jpg" alt="">
              </div>
            </div>
            <div class="item-content__right">
              <div class="item-content__title">Заголовок поста Заголовок поста Заголовок поста Заголовок поста</div>
              <div class="item-content__text">Заголовок поста Заголовок поста Заголовок поста Заголовок поста</div>
              <div class="item-content__bottom">
                <!-- <span class="item-content__descr item-content__descr_green">Дата публкации: 12:10</span> -->
                <a class="item-content__link btn" href="">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="content__item item-content">
            <div class="item-content__left">
              <div class="item-content__img-top">
                <img src="img/1.jpg" alt="">
              </div>
              <div class="item-content__row">
                <img class="item-content__img" src="img/2.jpg" alt="">
                <img class="item-content__img" src="img/3.jpg" alt="">
                <img class="item-content__img" src="img/4.jpg" alt="">
              </div>
            </div>
            <div class="item-content__right">
              <div class="item-content__title">Заголовок поста Заголовок поста Заголовок поста Заголовок поста</div>
              <div class="item-content__text">Заголовок поста Заголовок поста Заголовок поста Заголовок поста</div>
              <div class="item-content__bottom">
                <!-- <span class="item-content__descr item-content__descr_green">Дата публкации: 12:10</span> -->
                <a class="item-content__link btn" href="">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="content__item item-content">
            <div class="item-content__left">
              <div class="item-content__img-top">
                <img src="img/1.jpg" alt="">
              </div>
              <div class="item-content__row">
                <img class="item-content__img" src="img/2.jpg" alt="">
                <img class="item-content__img" src="img/3.jpg" alt="">
                <img class="item-content__img" src="img/4.jpg" alt="">
              </div>
            </div>
            <div class="item-content__right">
              <div class="item-content__title">Заголовок поста Заголовок поста Заголовок поста Заголовок поста</div>
              <div class="item-content__text">Заголовок поста Заголовок поста Заголовок поста Заголовок поста</div>
              <div class="item-content__bottom">
                <!-- <span class="item-content__descr item-content__descr_green">Дата публкации: 12:10</span> -->
                <a class="item-content__link btn" href="">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
        <div class="pagging">
          <a class="pagging__arrow" href="">&lt;&lt;</a>
          <ul class="pagging__list">
            <li>
              <a class="pagging__item _active" href="">1</a>
            </li>
            <li>
              <a class="pagging__item" href="">2</a>
            </li>
            <li>
             …
            </li>
            <li>
              <a class="pagging__item" href="">3</a>
            </li>
            <li>
              <a class="pagging__item" href="">4</a>
            </li>
            <li>
             …
            </li>
            <li>
              <a class="pagging__item" href="">5</a>
            </li>
            <li>
              <a class="pagging__item" href="">6</a>
            </li>
          </ul>
          <a class="pagging__arrow" href="">&gt;&gt;</a>
        </div>
      </div>
    </main>
  </div>

  <!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=51092280-e018-4241-bc97-180570de25d4&lang=ru_RU&_v=20221226164248"></script> -->
  <script src="js/app.min.js?_v=20221226164248"></script>

</body>

</html>