{% extends 'base.html' %}

{% block content %}
      <div class="content">
        <h2 class="content__title title">Поиск сообщений в Telegram</h2>
        <h3 class="content__subtitle">Активный аккаунт: {{ active_tg }}</h3>
      <form class="content__form" method="post" name="session_choice">
          {% csrf_token %}
          <label class="content__label label">Сменить аккаунт</label>
          <select name="number" class="content__input input">
              {% for number in numbers %}
                  <option value="{{number}}">{{number}}</option>
              {% endfor %}
          </select>
      <button type="submit" class="content__btn btn">Выбрать</button>
      </form>
      {% if is_tg_authorized %}
        <form method="post">
          {% csrf_token %}
        <div class="dropdown-box">
            <label class="content__label label" style="font-size: 1.35rem">Список каналов:</label>
          <div class="content__line line">
              <textarea type="text" class="textarea content__textarea" name="channels" required="" placeholder="ссылки на каналы или username, каждый канал с новой строки\nПример:\nhttps://t.me/channel\nt.me/channel\nchannel"></textarea>
          </div>
        </div>
            <div class="content__line line">
          <label class="content__label label" for="id_keywords" style="font-size: 1.35rem">Ключевые слова:</label>
      <input type="text" name="keywords" class="content__input input" maxlength="255" required="" id="id_keywords" placeholder="ключевые слова через запятую">
        </div>
        <div class="dropdown-box">
               <label class="content__label label" style="font-size: 1.35rem">Список групп:</label>
                <input class="content__input input" id="dropdownInput2" type="text" placeholder="Поиск...">
                <div class="content__line line dropdown" id="dropdownBlock2">
                {% for value, name in channels %}
                <div data-channel="{{ name }}">
                    <label class="content__label" for="gr_{{ value }}">{{ name }}</label>
                    <input id="gr_{{ value }}" type="checkbox" name="group_{{ value }}">
                </div>
                {% endfor %}
                </div>
          </div>
            <button class="content__btn btn">Начать поиск</button>
        </form>
      {% else %}
      <div class="content__line line">
          <a class="content__link link" href="/tg">Авторизуйтесь заново</a>
      </div>
      {% endif %}
      <div class="content__line line">
          {{ result }}
      </div>
      </div>
{% endblock %}