{% extends 'base.html' %}

{% block content %}
<div class="auth">
    <div class="auth__body">
        <h2 class="auth__title title">Профиль</h2>
    <form method="post">
    {% csrf_token %}
        <div class="auth__line line">
      <label class="auth__label label" for="id_email">Почта:</label>
    <input class="auth__input input" type="email" name="email" id="id_email" value="{{ user.email }}">
</div>
  <div class="auth__line line">
      <label class="auth__label label" for="id_first_name">Имя:</label>
    <input class="auth__input input" type="text" name="first_name" maxlength="100" id="id_first_name" value="{{ user.first_name }}">
</div>
  <div class="auth__line line">
      <label class="auth__label label" for="id_last_name">Фамилия:</label>
    <input class="auth__input input" type="text" name="last_name" maxlength="100" id="id_last_name" value="{{ user.last_name }}">
</div>
  <div class="auth__line line">
      <label class="auth__label label" for="id_phone">Номер телефона:</label>
    <input class="auth__input input" type="text" name="phone" maxlength="15" id="id_phone" value="{{ user.phone }}">
</div>
  <div class="auth__line line">
      <label class="auth__label label" for="id_telegram">Telegram:</label>
    <input class="auth__input input" type="text" name="telegram" maxlength="100" id="id_telegram" value="{{ user.telegram }}">
</div>
    <button class="auth__btn btn" type="submit">Сохранить</button>
    </form>
        <div class="auth__line line">{{ result }}</div>
    </div>
</div>


{% endblock %}