{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Гарайшин Ильназ</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo" href="http://localhost:8000/">
          <img src="{% static 'img/logo.png' %}" alt="concept">
        </a>
        <div class="header__right">
            {% if user.is_authenticated %}
          <div class="header__name">{{ user.get_username }}</div>
          <div class="header__icon">
            <img src="{% static 'img/profile-logo.jpg' %}" alt="Гарайшин Ильназ">
          </div>
               <a class="header__name" id="logout" href="/accounts/logout">выход</a>
            {% endif %}

        </div>


      </div>
    </header>
<main class="page">


      <div class="auth">
        <div class="auth__body">
          <h2 class="auth__title title">Авторизация</h2>
          <form class="content__form" method="post">
              {% csrf_token %}
            <div class="auth__line line">
                <label class="auth__label label" for="id_email">Почта:</label>
                <input class="auth__input input" type="email" name="email" required="" id="id_email">
            </div>
            <div class="auth__line line">
                <label class="auth__label label" for="id_password1">Пароль:</label>
                <input minlength="8" type="password" class="auth__input input" name="password1" maxlength="100" required="" id="id_password1">
            </div>
             <div class="auth__line line">
                <label class="auth__label label" for="id_password2">Повторите пароль:</label>
                <input minlength="8" type="password" class="auth__input input" name="password2" maxlength="100" required="" id="id_password2">
            </div>
              <button class="auth__btn btn" type="submit">Зарегистрироваться</button>
          <p>
              <label class="auth__label label"></label>
          </p>
          </form>
            <p>
                {{ result }}
            </p>
          <a class="auth__descr" href="/user/login">Вход</a>
        </div>
      </div>
          </main>
</div>
    <!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=51092280-e018-4241-bc97-180570de25d4&lang=ru_RU&_v=20221226164248"></script> -->
    <script src="{% static 'js/app.min.js' %}"></script>
</body>
</html>